html, body {
  height: 100%;
  background-color: #FC9000;
  }

.banner {
  background: url(http://i.imgur.com/vdQ3kO9.jpg?1) no-repeat center;
  height: 263px;
  background-size: 100% 100%;
}
  
.title{
  position: absolute; top: 220px; left: 10px;
  color: #DDD;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.banner h1 {
  margin: 0;
  position: relative;

  }
  
.post-title {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #DDD;
  text-align: right;
  background-color: #0D4B7A; 
  margin-top: 50px;
  }
  
.sidebar {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 1.25em;
  color: #DDD;
  padding: 40px 20px 20px 20px;
  background: #221C15;
  height: 100%;
  }
  
.posts{
  background: #FC9000;
  height: 100%;
  margin-top: 40px;
}  

.post-thumb img {
  width: 100%;
}
  
.text-post{
  margin-bottom: 40px;
  padding: 25px 40px 25px 40px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  line-height: 1.5em;
  font-size: 1.25em;
  background: #0D4B7A;
  color: #DDD;
  }
